:host {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(0, 0, 0, 0.7);

    backdrop-filter: blur(3px);

    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;

    transition: opacity .3s ease-in-out;

    &.reveal {
        opacity: 1;
    }
}

* {
    box-sizing: border-box;
}

.kb-game-details {
    margin: 1em;
    padding: 1em;
    display: flex;
    min-width: 400px;
    min-height: 400px;
    background-color: #212121;
    border-radius: 5px;
    max-width: 100vw;
    max-height: 100vh;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 0;

    h2 {
        font-size: 2em;
        font-weight: bold;
    }

    .kb-close-button {
        // remove button styling
        border: none;
        background: none;
        // add custom styling
        color: #fff;
        padding: .5em;
        font-size: 1.5em;
        cursor: pointer;
    }
}

.content {
    flex-grow: 1;
    overflow-y: auto;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 1em;

    .info {
        grid-area: 1 / 1 / 2 / 2;
        position: relative;
        display: flex;
        flex-direction: column;

        .platform-logo {
            margin-top: 2em;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-end;
            flex-grow: 1;

            img {
                height: 40px;
            }
        }
    }

    .video-container {
        grid-area: 1 / 2 / 2 / 3;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        video {
            height: 100%;
            max-width: 100%;
            border-radius: 5px;
        }
    }
}

// media query under 900px, only 1 column
@media (max-width: 900px) {
    .content {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 1em;
        grid-row-gap: 1em;

        .info {
            grid-area: 1 / 1 / 2 / 3;
        }

        .video-container {
            grid-area: 2 / 1 / 3 / 3;
        }
    }
}