<ng-container *ngIf="gameDetails">
  <div class="kb-game-details">
    <div class="header">
      <h2>{{ gameDetails.title }}</h2>
      <button (click)="closeDetails()" class="kb-close-button">X</button>
    </div>
    <div class="content">
      <div class="info">
        <div class="rating">
          <kb-stars [rating]="gameDetails.communityStarRating"></kb-stars>
          {{ gameDetails.communityStarRating | number: '1.1-2' }}
          ({{ gameDetails.communityStarRatingTotalVotes }} votes)
        </div>
        <div class="game-description">
          <div><strong>Developer:</strong> {{ gameDetails.developer }}</div>
          <div><strong>Release Date:</strong> {{ gameDetails.releaseDate | date: 'mediumDate' }}</div>
          <div><strong>Publisher:</strong> {{ gameDetails.publisher }}</div>
          <div><strong>Platform:</strong> {{ gameDetails.platform }}</div>
          <p>{{ gameDetails.description }}</p>
        </div>
        <div class="platform-logo">
          <img [src]="baseHref + 'assets/' + platform.image" alt="{{ platform.name }}" />
        </div>
      </div>
      <div class="video-container">
        <video loop *ngIf="gameDetails.video" onloadstart="this.volume=0.1" oncanplay="this.play()"
          onloadedmetadata="this.muted = true" (click)="toggleMute(gameVideo)" #gameVideo>
          <source src="{{ baseHref }}assets/{{ gameDetails.video }}" type="video/mp4">
          Your browser does not support HTML5 video.
        </video>
      </div>
    </div>
  </div>
</ng-container>