<ng-container *ngIf="gameDetails">
  <div class="kb-game-details">
    <div class="header">
      <h2>{{ gameDetails.title }}</h2>
      <button type="button" class="kb-close-button" (click)="closeDetails()">
        <span class="material-symbols-outlined">
          close
        </span>
      </button>
    </div>
    <div class="content">
      <div class="info">
        <div class="rating">
          <kb-stars [rating]="gameDetails.communityStarRating"></kb-stars>
          {{ gameDetails.communityStarRating | number: '1.1-2' }}
          ({{ gameDetails.communityStarRatingTotalVotes }} {{ 'votes' | translate }})
        </div>
        <div class="game-description">
          <div><strong>Developer:</strong> {{ gameDetails.developer }}</div>
          <div><strong>Release Date:</strong> {{ gameDetails.releaseDate | date: 'mediumDate' }}</div>
          <div><strong>Publisher:</strong> {{ gameDetails.publisher }}</div>
          <div><strong>Platform:</strong> {{ gameDetails.platform }}</div>
          <p>{{ gameDetails.description }}</p>
        </div>
        <div class="platform-logo">
          <img [src]="baseHref + 'assets/' + platform.image" alt="{{ platform.name }}" />
        </div>
      </div>
      <div class="video-container">
        <kb-soft-tabs [tabs]="tabs" [activeTab]="activeTab" (activeTabChange)="handleActiveTabChange($event)"></kb-soft-tabs>
        <div class="scroller">
          <video
            *ngIf="gameDetails.video"
            #gameVideo
            class="scroll-item"
            loop
            onloadstart="this.volume=0.1"
            oncanplay="this.play()"
            onloadedmetadata="this.muted = true"
            (click)="toggleMute(gameVideo)">
            <source type="video/mp4" src="{{ baseHref }}assets/{{ gameDetails.video }}">
            Your browser does not support HTML5 video.
          </video>
          <object
            *ngIf="threeDBoxUrl"
            class="scroll-item"
            style="height:100%;width:100%;border:none;"
            [data]="threeDBoxUrl"
          ></object>
        </div>
      </div>
    </div>
  </div>
</ng-container>