:host {
    position: fixed;
    inset: 0;
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(0 0 0 / 70%);

    backdrop-filter: blur(3px);

    opacity: 0;

    animation: kb-reveal .3s ease-in-out forwards .1s;

    &.hide {
        animation: kb-hide .3s ease-in-out forwards;
    }
}

* {
    box-sizing: border-box;
}

.kb-game-details {
    display: flex;
    flex-direction: column;

    min-width: 400px;
    max-width: calc(100vw - 2em);
    min-height: 400px;
    max-height: calc(100vh - 2em);
    padding: 1em;

    border-radius: 10px;

    background-color: var(--kb-color-bg);
}

.header {
    display: flex;
    flex-grow: 0;
    justify-content: space-between;
    align-items: center;

    h2 {
        font-weight: bold;
        font-size: 2em;
    }

    .kb-close-button {
        padding: .5em;

        color: var(--kb-color-text-primary);
        font-size: 1.5em;

        border: none;

        background: none;

        cursor: pointer;
    }
}

.content {
    display: flex;
    flex-grow: 1;
    gap: 1em;

    overflow-y: hidden;

    .info {
        position: relative;

        display: flex;
        flex-direction: column;
        flex-grow: 1;

        width: 60%;
        max-width: 600px;

        .game-description {
            flex-grow: 1;

            overflow-y: auto;
        }

        .platform-logo {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;

            margin-block-start: 2em;

            img {
                height: 40px;
            }
        }
    }

    .video-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: flex-end;

        width: 370px;
        min-height: 20px;

        video {
            flex-grow: 1;

            width: 100%;
            height: 100%;
            margin-block-start: 1em;

            border-radius: 5px;

            cursor: pointer;

            object-fit: scale-down;
            object-position: center;
        }
    }
}

// media query under 900px, only 1 column
@media (width <= 900px) {
  .kb-game-details {
    min-width: 0;
    min-height: 0;
  }

    .content {
        flex-wrap: wrap;

        overflow-y: auto;

        .video-container {
            height: 70vh;
            min-height: 0;

            overflow: hidden;
        }
    }
}

.rating {
    display: flex;
    gap: 1em;
    align-items: center;

    margin-block-end: 1em;
}

.scroller {
  display: flex;
  flex-grow: 1;
  gap: 1em;

  width: 100%;

  overflow: auto scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
}

.scroller .scroll-item {
  flex-grow: 0;
  flex-shrink: 0;

  width: 100%;
  scroll-snap-align: start;
}