:host {
    position: fixed;
    inset: 0;
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(0 0 0 / 70%);

    backdrop-filter: blur(3px);

    opacity: 0;

    animation: kb-reveal .3s ease-in-out forwards .1s;

    &.hide {
        animation: kb-hide .3s ease-in-out forwards;
    }
}

* {
    box-sizing: border-box;
}

.kb-game-details {
    display: flex;
    flex-direction: column;

    min-width: 400px;
    max-width: calc(100vw - 2em);
    min-height: 400px;
    max-height: calc(100vh - 2em);
    padding: 1em;

    border-radius: 10px;

    background-color: #212121;
}

.header {
    display: flex;
    flex-grow: 0;
    justify-content: space-between;
    align-items: center;

    h2 {
        font-weight: bold;
        font-size: 2em;
    }

    .kb-close-button {
        padding: .5em;

        // add custom styling
        color: #ffffff;
        font-size: 1.5em;

        // remove button styling
        border: none;

        background: none;

        cursor: pointer;
    }
}

.content {
    // display: grid;
    flex-grow: 1;
    // grid-template-rows: repeat(1, 1fr);
    // grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    // grid-gap: 1em;
    display: flex;
    gap: 1em;

    overflow-y: hidden;

    .info {
        // grid-area: 1 / 1 / 2 / 2;
        max-width: 600px;
        width: 60%;
        flex-grow: 1;

        position: relative;

        display: flex;
        flex-direction: column;

        .game-description {
            flex-grow: 1;
            overflow-y: auto;
        }

        .platform-logo {
            display: flex;
            flex-direction: column;
            // flex-grow: 1;
            justify-content: flex-end;
            align-items: flex-end;

            margin-block-start: 2em;

            img {
                height: 40px;
            }
        }
    }

    .video-container {
        // grid-area: 1 / 2 / 2 / 3;
        width: 370px;
        min-height: 600px;
        flex-grow: 1;

        display: flex;
        flex-direction: column;
        align-items: flex-end;

        video {
            width: 100%;
            height: 100%;
            object-fit: scale-down;
            object-position: top;
            margin-top: 1em;

            border-radius: 5px;

            cursor: pointer;
        }
    }
}

// media query under 900px, only 1 column
@media (width <= 900px) {
  .kb-game-details {
    min-width: 0;
    min-height: 0;
  }
    .content {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-gap: 1em;
        flex-wrap: wrap-reverse;
        overflow-y: auto;

        .info {
            grid-area: 1 / 1 / 2 / 3;
        }

        .video-container {
            grid-area: 2 / 1 / 3 / 3;
        }
    }
}

.rating {
    display: flex;
    align-items: center;
    margin-block-end: 1em;
    gap: 1em;
}