:host {
    display: inline-block;
    overflow: hidden;
}

.rating {
    width: 142px;
    fill: #dfe1f0;
}

.kb-large {
    width: 300px;
}

.kb-medium {
    width: 142px;
}

.kb-small {
    width: 96px;
}