/* material-symbols-outlined-latin-100-normal */
@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src: url('material-symbols-outlined-latin-100-normal.woff2') format('woff2'), url('material-symbols-outlined-latin-100-normal.woff') format('woff');
}

/* material-symbols-outlined-latin-200-normal */
@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src: url('material-symbols-outlined-latin-200-normal.woff2') format('woff2'), url('material-symbols-outlined-latin-200-normal.woff') format('woff');
}

/* material-symbols-outlined-latin-300-normal */
@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url('material-symbols-outlined-latin-300-normal.woff2') format('woff2'), url('material-symbols-outlined-latin-300-normal.woff') format('woff');
}

/* material-symbols-outlined-latin-400-normal */
@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('material-symbols-outlined-latin-400-normal.woff2') format('woff2'), url('material-symbols-outlined-latin-400-normal.woff') format('woff');
}
/* You can add global styles to this file, and also import other style files */
body.theme-dark {
  --kb-color-bg: #212121;
  --kb-color-scrollbar-thumb-hover: #a8bbbf;
  --kb-color-scrollbar-thumb: rgb(255 255 255 / 20%);
  --kb-color-scrollbar-track: transparent;
  --kb-color-text-primary: #ffffff;
  --kb-color-text-secondary: #888895;
  --kb-color-tertiary: #e6eef9;
  --kb-color-text-tertiary: var(--kb-color-text-secondary);
}

body.theme-light {
  --kb-color-bg: white;
  --kb-color-scrollbar-thumb-hover: #a8bbbf;
  --kb-color-scrollbar-thumb: rgb(255 255 255 / 20%);
  --kb-color-scrollbar-track: transparent;
  --kb-color-text-primary: #212121;
  --kb-color-text-secondary: #62626C;
  --kb-color-tertiary: #6D2D8E;
  --kb-color-text-tertiary: var(--kb-color-text-secondary);
}

body.theme-wireframe {
  --kb-color-bg: white;
  --kb-color-scrollbar-thumb-hover: #a8bbbf;
  --kb-color-scrollbar-thumb: rgb(255 255 255 / 20%);
  --kb-color-scrollbar-track: transparent;
  --kb-color-text-primary: black;
  --kb-color-text-secondary: #62626C;
  --kb-color-tertiary: #e6eef9;
  --kb-color-text-tertiary: var(--kb-color-text-secondary);
  /* style this to fit your needs */
  /* and remove [alt] to apply to all images */
}
body.theme-wireframe img {
  position: relative;
}
body.theme-wireframe img[alt]::after {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  font-weight: 300;
  line-height: 2;
  text-align: center;
  background-color: #ffffff;
}
body.theme-wireframe img.kb-playlist-image {
  border: 2px solid black;
  border-radius: 50%;
}
body.theme-wireframe kb-game-card {
  border: 2px solid black;
}
body.theme-wireframe kb-game-card .kb-cover-container {
  border: 3px solid black;
}
body.theme-wireframe kb-game-card .kb-cover-container img, body.theme-wireframe kb-game-card .kb-cover-container video {
  -webkit-box-reflect: unset !important;
  border: 2px solid black;
}

@media (prefers-color-scheme: dark) {
  body {
    --kb-color-bg: #212121;
    --kb-color-scrollbar-thumb-hover: #a8bbbf;
    --kb-color-scrollbar-thumb: rgb(255 255 255 / 20%);
    --kb-color-scrollbar-track: transparent;
    --kb-color-text-primary: #ffffff;
    --kb-color-text-secondary: #888895;
    --kb-color-tertiary: #e6eef9;
    --kb-color-text-tertiary: var(--kb-color-text-secondary);
  }
}
@media (prefers-color-scheme: light) {
  body {
    --kb-color-bg: white;
    --kb-color-scrollbar-thumb-hover: #a8bbbf;
    --kb-color-scrollbar-thumb: rgb(255 255 255 / 20%);
    --kb-color-scrollbar-track: transparent;
    --kb-color-text-primary: #212121;
    --kb-color-text-secondary: #62626C;
    --kb-color-tertiary: #6D2D8E;
    --kb-color-text-tertiary: var(--kb-color-text-secondary);
  }
}
* {
  box-sizing: border-box;
  line-height: 1.5;
}

body {
  color: var(--kb-color-text-primary);
  font-size: 14px;
  font-family: Comfortaa, sans-serif;
  background-color: var(--kb-color-bg);
}
body.modal-open {
  overflow: hidden;
}

html::-webkit-scrollbar {
  padding-inline-end: 20px;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: var(--kb-color-scrollbar-track);
}

::-webkit-scrollbar-thumb {
  border: 6px solid transparent;
  border-radius: 20px;
  background-color: var(--kb-color-scrollbar-thumb);
  background-clip: content-box;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--kb-color-scrollbar-thumb-hover);
}

/* if device width is under 365 px, hide the .sorting and .searching */
@media (width <= 365px) {
  .sorting, .searching {
    opacity: 0;
  }
}
/* reveal animation using opacity */
@keyframes kb-reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* hide animation using opacity */
@keyframes kb-hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes shimmer {
  0% {
    background-position: -1200px 0;
  }
  100% {
    background-position: 1200px 0;
  }
}
@keyframes shimmer-img {
  80% {
    -webkit-mask-position: -25%;
            mask-position: -25%;
  }
  100% {
    -webkit-mask-position: -25%;
            mask-position: -25%;
  }
}
.material-symbols-outlined {
  display: inline-block;
  font-weight: normal;
  font-size: 32px; /* Preferred icon size */
  font-family: "Material Symbols Outlined";
  font-style: normal;
  line-height: 1;
  direction: ltr;
  letter-spacing: normal;
  white-space: nowrap;
  text-transform: none;
  word-wrap: normal;
}
body.theme-dark {
  --kb-color-bg: #212121;
  --kb-color-scrollbar-thumb-hover: #a8bbbf;
  --kb-color-scrollbar-thumb: rgb(255 255 255 / 20%);
  --kb-color-scrollbar-track: transparent;
  --kb-color-text-primary: #ffffff;
  --kb-color-text-secondary: #888895;
  --kb-color-tertiary: #e6eef9;
  --kb-color-text-tertiary: var(--kb-color-text-secondary);
}

body.theme-light {
  --kb-color-bg: white;
  --kb-color-scrollbar-thumb-hover: #a8bbbf;
  --kb-color-scrollbar-thumb: rgb(255 255 255 / 20%);
  --kb-color-scrollbar-track: transparent;
  --kb-color-text-primary: #212121;
  --kb-color-text-secondary: #62626C;
  --kb-color-tertiary: #6D2D8E;
  --kb-color-text-tertiary: var(--kb-color-text-secondary);
}

body.theme-wireframe {
  --kb-color-bg: white;
  --kb-color-scrollbar-thumb-hover: #a8bbbf;
  --kb-color-scrollbar-thumb: rgb(255 255 255 / 20%);
  --kb-color-scrollbar-track: transparent;
  --kb-color-text-primary: black;
  --kb-color-text-secondary: #62626C;
  --kb-color-tertiary: #e6eef9;
  --kb-color-text-tertiary: var(--kb-color-text-secondary);
  /* style this to fit your needs */
  /* and remove [alt] to apply to all images */
}
body.theme-wireframe img {
  position: relative;
}
body.theme-wireframe img[alt]::after {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  font-weight: 300;
  line-height: 2;
  text-align: center;
  background-color: #ffffff;
}
body.theme-wireframe img.kb-playlist-image {
  border: 2px solid black;
  border-radius: 50%;
}
body.theme-wireframe kb-game-card {
  border: 2px solid black;
}
body.theme-wireframe kb-game-card .kb-cover-container {
  border: 3px solid black;
}
body.theme-wireframe kb-game-card .kb-cover-container img, body.theme-wireframe kb-game-card .kb-cover-container video {
  -webkit-box-reflect: unset !important;
  border: 2px solid black;
}

.sbdocs.sbdocs-preview {
  background: var(--kb-color-bg);
}
