:host {
  --main-color: #8f47c3;
}

[routerLink] {
  text-decoration: none;
  color: var(--main-color);
}

.sorting {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-block-end: 1em;

  transition: all 250ms ease-in-out;

  kb-soft-tabs {
    --font-size: 12px;
  }
}

.header {
    display: flex;
    flex-grow: 0;
    justify-content: space-between;
    align-items: center;

    padding: 0 1em;

    .kb-playlist-info {
        display: flex;
        flex-grow: 0;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        // gap: 1em;

        h2 {
            font-weight: bold;
            font-size: 2em;
        }

        .kb-playlist-image {
            width: 100px;
            height: 100px;
            padding: 1em;

            border-radius: 5px;
        }
    }

    .kb-close-button {
        padding: .5em;

        // add custom styling
        color: var(--kb-color-text-primary);
        font-size: 1.5em;

        // remove button styling
        border: none;

        background: none;

        cursor: pointer;
    }
}

.kb-playlist-collection {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    overflow-y: auto;

    .kb-card {
        width: 200px;
        height: 400px;

        // background: rgba(pink, 0.5);
        padding: 5px 8px 8px;

        border-radius: 5px;

        > a {
            color: inherit; /* blue colors for links too */
            text-decoration: inherit; /* no underline */
        }

        .kb-cover-container {
            display: flex;
            align-items: center;

            width: 100%;
            height: 300px;

            border-radius: 5px;

            overflow: hidden;
        }

        img, video {
            width: 100%;

            border-radius: 5px;

            // box-shadow: 0 10px 20px 0 rgb(0 0 0 / 44%);
            -webkit-box-reflect: below 2px linear-gradient(to bottom, transparent calc(100% - 25px), rgb(0 0 0 / 40%));
        }

        img {
          opacity: 1; /* Initial lower opacity for the placeholder */

          transition: opacity .25s;
        }

        img[data-src] {
          opacity: 0.3; /* Full opacity once the real image loads */
        }

        .kb-subtitle {
            color: var(--kb-color-text-secondary);
        }
    }
}

.shimmerBG {
  background-size: 1200px 100%;

  animation-name: shimmer-img;
  animation-duration: .8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  mask:linear-gradient(-60deg,#000000 30%,#00000055,#000000 70%) right/300% 100%;
}