.sorting {
  padding-block-end: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 250ms ease-in-out;

  kb-soft-tabs {
    --font-size: 12px;
  }
}

.header {
    display: flex;
    flex-grow: 0;
    justify-content: space-between;
    align-items: center;

    padding: 0 1em;

    .kb-playlist-info {
        display: flex;
        flex-grow: 0;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        // gap: 1em;

        h2 {
            font-weight: bold;
            font-size: 2em;
        }

        .kb-playlist-image {
            width: 100px;
            height: 100px;
            padding: 1em;

            border-radius: 5px;
        }
    }

    .kb-close-button {
        padding: .5em;

        // add custom styling
        color: var(--kb-color-text-primary);
        font-size: 1.5em;

        // remove button styling
        border: none;

        background: none;

        cursor: pointer;
    }
}

.kb-playlist-collection {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    overflow-y: auto;

    .kb-card {
        width: 200px;
        height: 400px;

        // background: rgba(pink, 0.5);
        padding: 5px 8px 8px;

        border-radius: 5px;

        > a {
            color: inherit; /* blue colors for links too */
            text-decoration: inherit; /* no underline */
        }

        .kb-cover-container {
            display: flex;
            align-items: center;

            width: 100%;
            height: 300px;

            overflow: hidden;
        }

        img, video {
            width: 100%;

            border-radius: 5px;
        }

        .kb-subtitle {
            color: var(--kb-color-text-secondary);
        }
    }
}