<ng-container *ngIf="playlistData.name">
  <iframe src="https://olafwempe.com/mp3/silence/silence.mp3" type="audio/mp3" allow="autoplay" id="audio" style="display:none"></iframe>
  <div class="header">
    <div class="kb-playlist-info">
      <img class="kb-playlist-image" [src]="baseHref + 'assets/optimized/' + playlistData.cover.replace('.png', '.webp')" alt="{{ playlistData.name }}" />
      <h2>
        {{ playlistData.name }}
      </h2>
    </div>
  </div>
  <div class="sorting">
    <kb-soft-tabs
      [tabs]="gameSortOptions"
      [activeTab]="sortBy"
      (activeTabChange)="handleTabSelection($event)"
    ></kb-soft-tabs>
  </div>
  <div class="kb-playlist-collection">
    <div *ngFor="let game of playlistData.games" class="kb-card">
      <a queryParamsHandling="merge" [routerLink]="[{ outlets: { 'game-details': [game.id] } }]">
        <div class="kb-cover-container">
          <img *ngIf="game.cover" kbLazyLoad [attr.data-src]="game.collectionImage" alt="{{ game.title }}">
        </div>
        <p>{{game.title}}</p>
        <p class="kb-subtitle">{{game.developer}}</p>
      </a>
    </div>
  </div>
</ng-container>