<div
  *ngIf="tabs.length > 0"
  class="tabs"
>
  <ng-container *ngFor="let tab of tabs; let i = index">
  <input
    type="radio"
    name="tabs"
    id="radio-{{ i }}"
    [checked]="tab === activeTab"
  />
  <label
    class="tab"
    for="radio-{{ i }}"
    (click)="selectTab(i)"
    (keydown.enter)="selectTab(i)"
  >
    {{ tab }}
  </label>
</ng-container>
  <span class="glider" [style.transform]="'translateX(' + ((tabs.indexOf(activeTab) === -1 ? 0 : tabs.indexOf(activeTab)) * 100) + '%)'"></span>
</div>