<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1">
  <link rel="stylesheet"
        href="./style.css">

</head>

<body class="kb-body">

<div class="side">
  <img src="" id="side-1">
</div>
<div class="main front">
  <img src="" id="front">
</div>
<div class="side">
  <img src="" id="side-2">
</div>
<div class="main back">
  <img src="" id="back">
</div>

<script>
  const activate = (data) => {
    if (data.side1) {
      document.getElementById('side-1').src = data.side1;
    } else {
      document.getElementById('side-1').remove();
    }

    if (data.side2) {
      document.getElementById('side-2').src = data.side2;
    } else {
      document.getElementById('side-2').remove();
    }

    if (data.front) {
      document.getElementById('front').src = data.front;
    } else {
      document.getElementById('front').remove();
    }

    if (data.back) {
      document.getElementById('back').src = data.back;
    } else {
      document.getElementById('back').remove();
    }

    if (data.color) {
      document.body.style.setProperty('--color', data.color);
    }
  }
</script>
</body>

</html>