:host {
  --main-color: #8f47c3;
  display: flex;

  width: 100%;
  height: 100%;

  overflow: hidden;
  position: relative;
}

.loadeing-page-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 250ms ease-in-out;
  
  &.hide {
    transform: translateY(-100%);
  }
}

.progress-container {
  position: absolute;
  bottom: 2em;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;

  button {
    z-index: 2;
    // opacity: 0.6;
    // backdrop-filter: blur(50px);
    background-color: purple;
    font-size: inherit;
    border-radius: 50px;
    padding: 0 1em;
    border: none;
    color: white;
    transition: all 250ms ease-in-out;
    font-family: Comfortaa, sans-serif;
    cursor: pointer;

    &:hover {
      background-color: var(--main-color);
    }
  }
}

[routerLink] {
  position: absolute;
  top: 0;
  left: 0;
  text-decoration: none;
  color: #212121;
  z-index: 2;
}

.bg-1 {
  display: flex;

  height: 100%;
  width: 100%;

  background-color: var(--main-color);
  color: white;

  kb-roulette {
    flex-shrink: 0;
    width: 250px;
    height: calc(100% - 6em);
    margin: 3em 1em 3em 0;

    font-weight: 900;

    overflow: hidden auto;
  }
}

.game-cover {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 450px;

  transition: width 0.5s ease-in-out;

  img {
    width: calc(100% - 2em);

    // height: calc(100% - 2em);
    box-shadow: 2px 10px 11px -4px rgb(0 0 0 / 52%);

    object-fit: cover;
    object-position: center;
  }
}

.game-details {
  // box-shadow: 1px 6px 26px 18px rgba(0,0,0,0.75) inset;
  flex-grow: 1;

  height: 100%;
  padding: 1em;

  transform: translateX(100%);

  background: linear-gradient(90deg, color-mix(in srgb, var(--kb-color-bg) 70%, black) 1px, var(--kb-color-bg) 10px);
  color: var(--kb-color-text-primary);

  transition: transform 0.5s ease-in-out;
  display: flex;
  flex-direction: column;

  &.show {
    transform: translateX(0);
  }
}

.year {
  color: var(--main-color);
  font-size: 1.5em;
}

.paint {
  color: var(--main-color);
}

.two-columns {
  display: flex;
  flex-direction: row;
  gap: 1em;
  flex-grow: 1;

  // justify-content: space-between;
  // align-items: center;
  // height: 100%;

  .first-column {
    display: flex;
    flex-direction: column;

    width: 80%;
    height: 100%;

    p {
      max-height: 200px;

      overflow-y: auto;
    }

    video {
      flex-grow: 1;

      width: calc(100% - 2em);
      height: 10px;
      margin: 1em 0;

      object-fit: scale-down;
      object-position: left;
    }
  }
}

.scroller {
  // flex-grow: 1;
  // display: flex;
  overflow: hidden scroll;
  overflow-y: auto;
  scroll-snap-type: y mandatory;

  // gap: 1em;
}

.scroller .scroll-item {
  flex-grow: 0;
  flex-shrink: 0;

  width: 100%;
  scroll-snap-align: start;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100dvh;
}

.hidden-imges {
  position: fixed;
  top: -100%;
  left: -100%;

  width: 1px;
  height: 1px;

  img {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.for-mobile {
  display: flex;
}

@media (
  width <= 1200px
) {
  .game-cover {
    width: 300px;
  }
}

@media (
  width <= 950px
) {
  [routerLink] {
    top: initial;
    bottom: 0;
  }

  .for-mobile {
    // flex-wrap: wrap;
    flex-direction: column-reverse;

    kb-roulette {
      height: calc(50%);
      margin: 1em 1em 1em 0;
    }
  }
  .game-cover {
    height: calc(50% - 3em);

    img {
      height: 100%;
    }
  }
}

@media (
  width <= 650px
) {
  .for-mobile {
    flex-direction: row;
    width: 100%;
    align-items: center;

    kb-roulette {
      height: 100%;
      margin: 0;
    }

    .game-cover {
      height: auto;
      flex-grow: 1;
    }
  }

  .game-details {
    position: absolute;
    right: 0;
  }
}

@media (
  width <= 450px
) {
  .for-mobile {
    // flex-wrap: wrap;
    flex-direction: column-reverse;

    kb-roulette {
      height: calc(50%);
      margin: 1em 1em 1em 0;
    }
  }
  .game-cover {
    height: calc(50% - 3em);

    img {
      height: 100%;
    }
  }
}