<a routerLink="/game-collection">
  <span class="material-symbols-outlined">
    blur_short
  </span>
</a>
<ng-container *ngIf="loading; else attractMode">
  <div class="centered">
    <kb-progress [progress]="progress"></kb-progress>
  </div>
</ng-container>
<ng-template #attractMode>
  <div class="bg-1">
    <kb-roulette
      [spin]="spin"
      (currentItemIndex)="currentGame = playlistData.games[$event]"
      (rouletteStopped)="handleSelectedGame()"
    ></kb-roulette>
    <div class="game-cover">
      <img
        *ngIf="currentGame"
        [src]="currentGame.collectionImage"
      />
    </div>
    <div
    *ngIf="currentGame"
    class="game-details"
    [class.show]="showDetails"
  >
    <h2 class="paint">{{ currentGame.platform }}</h2>
    <h1>{{ currentGame.title }}</h1>
    <div class="two-columns">
      <div class="first-column">
        <kb-stars [rating]="currentGame.communityStarRating"></kb-stars>
        <p>{{ currentGame.description }}</p>
        <!-- <video *ngIf="currentGame.video" controls>
          <source type="video/mp4" src="{{ baseHref }}assets/{{ currentGame.video }}">
          Your browser does not support HTML5 video.
        </video> -->
      </div>
      <div class="second-column">
        <div class="year">{{ currentGame.releaseDate | date: 'YYYY' }}</div>
      </div>
    </div>
  </div>
</div>
</ng-template>
<div class="hidden-imges">
  <img *ngFor="let imgSrc of images" [src]="imgSrc" />
</div>